.slider {
  position: relative;
  &__container {
    height: 620px;
    background-size: cover;
    background-position: center;
    transition: all 0.5s ease-in-out;
  }

  &__headerContainer {
    @apply absolute top-0 left-0 w-full h-full flex  z-10 text-white flex-col;
  }
}
